:root {
}

body {
  margin: 0;
  background-color: #262626;
  color: white;
  cursor: pointer;
}

main {
  text-align: center;
  margin: 0 auto;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(12, 100px);
  place-items: center;
  gap: 20px;
}

.icon-button {
  all: unset;
  border: 1px solid #ffd667;
  padding: 20px;
  border-radius: 8px;
}

.icon-button:hover {
  background-color: #3c3c3c;
}
